<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img class="header-Logo" src="../assest/img/Rectangle 123.png" alt="radiumicon"/>
        <div class="header-Title-subt">
            <h1 class="header-Title" >
                Mega Rocket Gym
            </h1>
            <p>
                "Take-off your potential"
            </p>
        </div>
        <a href="../views/sign-up.html">
            Register
        </a>
    </header>
    <main>
        <div class="containerLogin">
            <h2>
                Sign in
            </h3>
            <form>
                <div class="email-img" >
                    <img src="../assest/img/correo.png" alt="correo"/>
                    <input class="email-placeholder" id="form-email" type="text" placeholder="Email" >
                    <div class="error"> </div>
                </div>
                <div class="pass-img" >
                    <img src="../assest/img/password.png" alt="password"/>
                    <input class="password-placeholder" id="form-password" type="password" placeholder="Password" >
                    <div class="error" ></div>
                </div>
            </form>
            <div class="remember-me-forgot" >
                <input type="checkbox"/> Remember me
                <p class="forgot-pass" >
                    Forgot password?
                </p>
            </div>
            <div class="get-help" >
                <p>
                    Get help
                </p>
            </div>
            <div>
                <button class="continue-button">Continue</button>
            </div>
        </div>
    </main>
    <footer>
        <button class="footer-button" >Contact us</button>
        <p class="rights" >
            All rights reserved.®
        </p>
        <img class="footer-img" src="../assest/img/imgfooter.png" alt="contact"/>
    </footer>
</body>
<script src="../js/login.js"></script>
</html>