.footer-title {
    position: absolute;
    width: 381px;
    height: 38px;
    left: 750px;
    top: 2868px;
}

.imgfooter {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 800px;
    top: 2830px;
}

