body {
    font-family: 'Roboto';
    margin: 5px;
}

section h2, h3 {
    color: #49A37B;
}

section {
    border-bottom: 1px solid;
}

.container-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 459px;
    background-image: url(../assest/img/LOGO-RR\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #D9D9D9;
}

.presentation-title-h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.presentation-textleft-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);

}

.presentation-button {
    width: 150px;
    height: 47px;
    margin-top: 60px;
    border-color: #49A37B;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    background-color: white;
    color:  #373867;
}
/*features*/

.container-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1500px;
}

.features-title {
    font-size: 40px;
    line-height: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-inline-start: 52px;
}

.container-features, h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
}

.container-features p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000000;
}

.calendar-text {
    text-align: center;
}

.display-text {
    text-align: center;
}

.membership-text {
    text-align: center;
}

.contact-text {
    text-align: center;
}

.container-features img {
    width: 86.15px;
    height: 80px;
}

.container-aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.aboutus-title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
    top: 1350px;
}

.aboutus-text {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    left: 550px;
    top: 1280px;
}

.container-contact {
    display: flex;
    flex-direction: column;
    height: 980px;
}

.contact-title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}

.contact-placeholders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}

.contact-placeholder-name {
    width: 90%;
    height: 47px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.contact-placeholder-lastname {
    width: 90%;
    height: 47px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.contact-placeholder-email {
    width: 90%;
    height: 47px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.contact-comentary {
    width: 90%;
    height: 73px;
    border-radius: 5px;
    border-width: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    opacity: 0.5;
}

.contact-buttonsend {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 24px;
    width: 76px;
    height: 34px;
    background: #AACE9B;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    color: #373867;
    border-color: white;
}

.contact-title-radio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title-reason {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.contact-radio-membership {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #373867;
    margin-bottom: 5%;
}

.contact-radio-question {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #373867;
    margin-bottom: 5%;
}

.contact-radio-claim {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #373867;
    margin-bottom: 5%;
}

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 900px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.presentation-img {
    display: none;
    width: 725px;
    height: 369px;
    left: 684px;
    top: 137px;
}