h1 {
    color: #49A37B;
}

section h2, h3 {
    color: #49A37B;
}

header {    
    border-bottom: 1px solid;
}
section {   
    border-bottom: 1px solid;
}
body{ 
    margin: 6.6%;
}

.container {    
    height: 260px;
}

.right {
    float: right;
}

img {   
    height: 230px;
}

.left   {   
    margin-left: 50px;
    margin-inline-end: 600px;
}

.marginend {
    margin-inline-end: 100px;
}

.learnmore  {   
    margin-left: 50px;
}